.page-content {
	font-size: 18px;
    line-height: 30px;

	h1 {

	}

	h2 {
		
	}

	h3 {
		
	}

	h4 {
		
	}

	h5 {
		
	}

	h6 {
		
	}

	a {
		color: black;
		text-decoration: none;
		
		&:after {
			content: " ";
		    display: block;
		    width: 100%;
		    position: relative;
		    bottom: 8px;
		    border-bottom: 5px solid #3adcb3;
		    opacity: 0.4;
		    transition: 0.2s all ease-in-out;
		}
		&:hover:after {
			border-bottom: 5px solid black;
		}
	}

	p {

	}

	code {
		background-color: #EFEFEF;
    	border-radius: 3px;
    	padding: 2px;
    	font-size: 12px;
	}
	
	// Image with caption
	.wp-caption {
		margin: 15px 5px;

		a:after {
			display: none;
		}
		.wp-caption-text {
			margin: 0;
		    line-height: 14px;
		    font-size: 14px;
		    text-align: center;
		}
	}


	// Special IMAGE styling
	.alignleft {
	    float: left;
	    margin:0 15px 30px 0;
	}
	.aligncenter {
	    display: block;
	    margin: 0 auto 30px auto;
	}
	.alignright {
	    float: right;
	    margin:0 0 30px 15px;
	}
	.alignnone {
	    float: none;
	    display:block;
	    margin:0 0 30px 0;
	}
	.size-full {
	    width:100%;
	    height:auto;
	    margin:0 0 30px 0;
	}
	p .alignleft {
	    float: left;
	    margin:5px 15px 30px 0;
	}
	p .aligncenter {
	    display: block;
	    margin: 5px auto 30px auto;
	}
	p .alignright {
	    float: right;
	    margin:5px 0 30px 15px;
	}
	p .alignnone {
	    float: none;
	    display:block;
	    margin:5px 0 30px 0;
	}
	p .size-full {
	    width:100%;
	    height:auto;
	    margin:5px 0 30px 0;
	}
}