#footer {
    margin: 0 auto;
    padding: 0;
    background-image: url(/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

	.wrapper {
	    height: 135px;
	    max-width: 1050px;
	    margin: 0 auto;
	}
}