@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
body {
	font-family: 'Crimson Text',Georgia, serif;
	color: $dark-gray;
}

h1 {
    font-size: 150%;
    text-transform: uppercase;
    margin: 20px 0;
}

a {
	color: black;
	text-decoration: none;
    background-color: rgba(58,220,179,0.2);
    padding: 0 4px 2px 4px;
    border-radius: 3px;
    transition: 0.2s all ease-in-out;

	&:hover {
		background-color: rgba(29, 148, 118, 0.2);
	}
}