@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
body {
	font-family: 'Crimson Text',Georgia, serif;
	color: $dark-gray;
}

h1 {
    font-size: 150%;
    text-transform: uppercase;
    margin: 20px 0;
}

a {
	color: $dark-gray;
	text-decoration: none;
	border-radius: 3px;
    transition: 0.2s all ease-in-out;

    &:hover {
    	color: $light-gray;
    }
    &:visited, &:active {
		color: $dark-gray;
    }
}