#header {
    width: 100%;
    background-image: url(/images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    // Reset the link color
    a {
        color: #444;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    .wrapper {
        height: 135px;
        max-width: 1050px;
        margin: 0 auto;
        position: relative;

        .lang-nav {
            font-size: 22px;
            display: block;
            position: absolute;
            top: 27px;
            left: 10px;

            li {
                display: inline;

                &.active a {
                    text-decoration: underline;
                }
                &:after {
                    content: " / ";
                    display: inline;
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
        
        .searchbox-header {
            width: 18px;
            height: 18px;
            overflow: hidden;
            position: absolute;
            top: 27px;
            right: 10px;
            border: 1px solid transparent;
            padding: 0;
            transition: 1.5s all ease-in-out;

            &:hover {
                width: 198px;
                border-color: #444;
                transition: 0.2s all ease-in-out;
            }
            input[type="text"] {
                width: 198px;
                height: 18px;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 5px;
                background: transparent;
                border: none;
                font-family: 'Crimson Text', serif;
                font-size: 12px;
           }
           .icon-search {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
           }
        }






    }

    .top,
    .bottom {
        width: 100%;
        clear: both;
        float: left;
    }
    .top {
        margin: 20px 0;
    }
    .logo {
        float: left;
    }
    

    .main-nav {
        float: right;
        margin-top: 10px;
        li {
            float: left;
            margin-right: 50px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        a {
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}
