.icon-search {
   width: 18px;
   height: 18px;
   background: url(../images/icons-sprite.png) no-repeat;
   background-position: 0 0;
   background-size: 105px 28px;
}
.icon-instagram {
   width: 28px;
   height: 28px;
   background: url(../images/icons-sprite.png) no-repeat;
   background-position: -48px 0;
   background-size: 105px 28px;
}
.icon-twitter {
   width: 28px;
   height: 28px;
   background: url(../images/icons-sprite.png) no-repeat;
   background-position: -77px 0;
   background-size: 105px 28px;
}
.icon-facebook {
   width: 28px;
   height: 28px;
   background: url(../images/icons-sprite.png) no-repeat;
   background-position: -19px 0;
   background-size: 105px 28px;
}


// Mobile Hamburger menu
.hamburger {
   display: none;
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 0;
   padding: 19px;
   background-color: transparent;
   border: none;
   border-radius: none;
   margin: 0;
   transition: all 400ms cubic-bezier(0.5, 0, 0, 1);

   ul {
      
      list-style-type: none;
      padding: 0;

      li {
         width: 24px;
          height: 4px;
          background: black;
          margin: 2px 0 0;
          padding: 0;
          transform: translate3d(0, 0, 0);
          transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
      }
   }

   @media (max-width: $small) {
      display: block;
   }
}
.checked {
  .hamburger {
   
   background-color: $zent-green;

    li:first-child {
     
      transform: rotate( -135deg ) translateY( -4.5px );
  }
    li:last-child {
      transform: rotate( 135deg ) translateY( 4.5px );
    }
  }
}