.sidebar-related {
	width: 150px;
    margin: 0 auto 0 0;

    @media (max-width: $small) {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: initial;
        flex-wrap: nowrap;
    }
    @media (max-width: $mobile) {
		flex-wrap: wrap;
	    justify-content: flex-start;
    	padding: 0 60px;
    	box-sizing: border-box;
	}

	article {
		margin-bottom: 30px;
		text-align: left;
		min-width: 150px;
	    font-size: 20px;

	    @media (max-width: $small) {
    	    max-width: 25%;
		    box-sizing: border-box;
		    padding: 10px;
	    }
	    @media (max-width: $mobile) {
			max-width: 100%;
		    width: 100%;
		}

		a {
		    &:hover {
		    	opacity: 0.6;
		    }
		    header {
	    	    margin-top: 5px;
    	        line-height: 32px;
		    }
		    p {
		    	font-style: italic;
		    }
			img {
				display: block;
				max-width: 74px;
				max-height: 74px;
				width: 74px;
				height: 74px;

			    @media (max-width: $small) {
			        width: 64px;
			        height: 64px;
			    }
			    @media (max-width: $mobile) {
				    margin-right: 10px;
				    width: 100%;
				    float: left;
				    max-width: 74px;
					max-height: 74px;
					width: 74px;
					height: 74px;
				}
			}
		}
	}
}