@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

main {
  display: block; }

body {
  font-family: 'Crimson Text', serif; }

a {
  color: black;
  text-decoration: none; }
  a:after {
    content: " ";
    display: block;
    width: 100%;
    position: relative;
    bottom: 8px;
    border-bottom: 5px solid #3adcb3;
    opacity: 0.4;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out; }
  a:hover:after {
    border-bottom: 5px solid black; }

#header {
  margin: 0 auto;
  padding: 0;
  background-image: url(/images/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left; }
  #header .wrapper {
    height: 135px;
    max-width: 1050px;
    margin: 0 auto; }
  #header ul {
    list-style-type: none; }

#footer {
  margin: 0 auto;
  padding: 0;
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left; }
  #footer .wrapper {
    height: 135px;
    max-width: 1050px;
    margin: 0 auto; }

#body {
  margin: 0 auto;
  max-width: 1050px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #body #sidebar {
    width: 210px; }
  #body #main {
    width: calc(100% - 330px);
    margin-left: 120px; }
