@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext';
main {
  display: block; }

.menu-language-switcher-container {
  display: none !important; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 20px;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: transparent;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace,sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul {
  margin-left: 0;
  list-style: none; }

ol {
  margin-left: 0;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: normal; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
  a:after {
    content: " (" attr(href) ")"; }
  abbr:after {
    content: " (" attr(title) ")"; }
  .ir a:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.wp-caption {
  border: 1px solid #666;
  text-align: center;
  background: #ccc;
  padding: 10px;
  margin: 10px; }

#wpstats {
  display: none; }

body {
  font-family: 'PT Serif', serif;
  color: #444;
  background-color: #f5f5f5; }

h1 {
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 20px 0; }

a {
  color: #444;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.2s all ease-in-out; }
  a:hover {
    color: #666; }
  a:visited, a:active {
    color: #444; }

.page-content {
  font-size: 18px;
  line-height: 30px; }
  .page-content .wp-caption {
    max-width: 100% !important; }
  .page-content p img, .page-content img {
    max-width: 100% !important;
    height: auto;
    margin-bottom: 40px; }
  .page-content a {
    border-bottom: 0px solid blue;
    color: blue; }
    .page-content a:hover {
      border-bottom: 2px solid blue; }
  .page-content h1 {
    text-transform: none; }
  .page-content h2 {
    font-size: 20px;
    text-transform: none;
    margin: 30px 0; }
  .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    font-weight: 400;
    margin: 30px; }
  .page-content h3:before {
    content: " » "; }
  .page-content h4:before {
    content: " »  » "; }
  .page-content h5:before {
    content: " »  »  » "; }
  .page-content h6:before {
    content: " »  »  »  » "; }
  .page-content p {
    margin: 0 0 15px 0; }
  .page-content code {
    background-color: #EFEFEF;
    border-radius: 3px;
    padding: 2px;
    font-size: 12px; }
  .page-content .wp-caption {
    margin: 15px 5px; }
    .page-content .wp-caption a:after {
      display: none; }
    .page-content .wp-caption .wp-caption-text {
      margin: 0;
      line-height: 14px;
      font-size: 14px;
      text-align: center; }
  .page-content .alignleft {
    float: left;
    margin: 0 15px 30px 0; }
  .page-content .aligncenter {
    display: block;
    margin: 0 auto 80px auto; }
  .page-content .alignright {
    float: right;
    margin: 0 0 30px 15px; }
  .page-content .alignnone {
    float: none;
    display: block;
    margin: 0 0 30px 0; }
  .page-content .size-full {
    width: 100%;
    height: auto;
    margin: 0 0 30px 0; }
  .page-content p .alignleft {
    float: left;
    margin: 5px 15px 30px 0; }
  .page-content p .aligncenter {
    display: block;
    margin: 5px auto 30px auto; }
  .page-content p .alignright {
    float: right;
    margin: 5px 0 30px 15px; }
  .page-content p .alignnone {
    float: none;
    display: block;
    margin: 5px 0 30px 0; }
  .page-content p .size-full {
    width: 100%;
    height: auto;
    margin: 5px 0 30px 0; }
  .page-content table {
    margin: 0 30px 30px 30px;
    font-size: 12px; }
    .page-content table th, .page-content table tfoot td {
      padding: 10px 15px;
      background: #bbb !important;
      border: 1px solid #999;
      font-weight: normal;
      text-transform: uppercase;
      text-align: left;
      white-space: nowrap;
      font-weight: 700; }
    .page-content table td {
      border: 1px solid #999;
      padding: 10px 15px;
      background: #ddd; }
    .page-content table tr:nth-child(odd) td {
      background: #eee; }
    .page-content table td, .page-content table td img {
      vertical-align: top; }
  .page-content ol {
    margin-bottom: 30px;
    counter-reset: preview-ol; }
    .page-content ol li {
      list-style: none;
      padding: 3px 0; }
    .page-content ol li:before {
      content: counter(preview-ol);
      counter-increment: preview-ol;
      color: #666;
      border: 1px solid #666;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      line-height: 26px; }
  .page-content ul {
    margin-bottom: 30px; }
    .page-content ul li {
      list-style: none;
      padding: 3px 0; }
    .page-content ul li:before {
      content: '~ ';
      font-size: 20px;
      color: #666;
      margin-right: 3px; }
  .page-content blockquote {
    font-style: italic;
    line-height: 28px;
    font-size: 18px;
    margin: 30px; }
    .page-content blockquote:before {
      content: "“";
      display: inline-block;
      font-size: 30px; }
    .page-content blockquote:after {
      content: "”";
      display: inline-block;
      font-size: 30px; }
  .page-content .footnote {
    display: inline; }
    .page-content .footnote span.footnote-number {
      color: blue;
      font-size: 12px;
      cursor: pointer;
      vertical-align: top; }
    .page-content .footnote .footnote-body {
      color: #444;
      display: block;
      opacity: 0;
      transition: 0.2s all ease-in-out;
      position: fixed;
      top: 50%;
      left: 60px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 230px;
      padding: 10px;
      text-align: right;
      font-style: italic;
      font-size: 16px; }
      @media (max-width: 767px) {
        .page-content .footnote .footnote-body {
          display: none;
          position: static;
          height: 0px;
          overflow: hidden;
          margin: 0 auto;
          text-align: center;
          text-decoration: none !important; } }
    .page-content .footnote:hover {
      background-color: #7ca07c; }
      .page-content .footnote:hover .footnote-body {
        opacity: 1; }
        @media (max-width: 767px) {
          .page-content .footnote:hover .footnote-body {
            display: block;
            position: static;
            height: auto;
            opacity: 1; } }

.icon-search {
  width: 18px;
  height: 18px;
  background: url(../images/icons-sprite.png) no-repeat;
  background-position: 0 0;
  background-size: 105px 28px; }

.icon-instagram {
  width: 28px;
  height: 28px;
  background: url(../images/icons-sprite.png) no-repeat;
  background-position: -48px 0;
  background-size: 105px 28px; }

.icon-twitter {
  width: 28px;
  height: 28px;
  background: url(../images/icons-sprite.png) no-repeat;
  background-position: -77px 0;
  background-size: 105px 28px; }

.icon-facebook {
  width: 28px;
  height: 28px;
  background: url(../images/icons-sprite.png) no-repeat;
  background-position: -19px 0;
  background-size: 105px 28px; }

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 19px;
  background-color: transparent;
  border: none;
  border-radius: none;
  margin: 0;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1); }
  .hamburger ul {
    list-style-type: none;
    padding: 0; }
    .hamburger ul li {
      width: 24px;
      height: 4px;
      background: black;
      margin: 2px 0 0;
      padding: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      transition: all 400ms cubic-bezier(0.5, 0, 0, 1); }
  @media (max-width: 767px) {
    .hamburger {
      display: block; } }

.checked .hamburger {
  background-color: #3adcb3; }
  .checked .hamburger li:first-child {
    -webkit-transform: rotate(-135deg) translateY(-4.5px);
            transform: rotate(-135deg) translateY(-4.5px); }
  .checked .hamburger li:last-child {
    -webkit-transform: rotate(135deg) translateY(4.5px);
            transform: rotate(135deg) translateY(4.5px); }

#header {
  width: 100%;
  background-image: url(../images/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  text-shadow: 0px 0px 1px #9c9c9c; }
  #header a {
    color: #444; }
  #header .wrapper {
    height: 135px;
    max-width: 1050px;
    margin: 0 auto;
    position: relative; }
    @media (max-width: 1050px) {
      #header .wrapper {
        width: 100%; } }
    @media (max-width: 767px) {
      #header .wrapper {
        height: 50px; } }
    #header .wrapper .lang-nav {
      font-size: 22px;
      display: block;
      position: absolute;
      top: 27px;
      left: 10px;
      line-height: 22px; }
      @media (max-width: 1050px) {
        #header .wrapper .lang-nav {
          left: 40px; } }
      @media (max-width: 950px) {
        #header .wrapper .lang-nav {
          display: none; } }
      #header .wrapper .lang-nav li {
        display: inline; }
        #header .wrapper .lang-nav li.active a {
          text-decoration: underline; }
        #header .wrapper .lang-nav li:after {
          content: " / ";
          display: inline; }
        #header .wrapper .lang-nav li:last-child:after {
          display: none; }
    #header .wrapper .searchbox-header {
      display: none;
      width: 18px;
      height: 18px;
      overflow: hidden;
      position: absolute;
      top: 27px;
      right: 10px;
      border: 1px solid transparent;
      padding: 0;
      transition: 1.5s all ease-in-out; }
      @media (max-width: 1050px) {
        #header .wrapper .searchbox-header {
          right: 40px; } }
      @media (max-width: 950px) {
        #header .wrapper .searchbox-header {
          display: none; } }
      #header .wrapper .searchbox-header:hover {
        width: 198px;
        border-color: #444;
        transition: 0.2s all ease-in-out; }
      #header .wrapper .searchbox-header input[type="text"] {
        width: 198px;
        height: 18px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px;
        background: transparent;
        border: none;
        font-family: 'PT Serif', serif;
        font-size: 12px;
        z-index: 1; }
      #header .wrapper .searchbox-header .icon-search {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer; }
    #header .wrapper #header-logo img {
      max-width: 200px;
      height: auto;
      position: absolute;
      bottom: 23px;
      left: 8px; }
      @media (max-width: 1050px) {
        #header .wrapper #header-logo img {
          left: 40px; } }
      @media (max-width: 950px) {
        #header .wrapper #header-logo img {
          top: 14px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          bottom: initial; } }
      @media (max-width: 767px) {
        #header .wrapper #header-logo img {
          left: 10px;
          top: 10px;
          -webkit-transform: none;
                  transform: none;
          height: 30px;
          width: auto; } }
    #header .wrapper .main-nav {
      height: 20px;
      width: 710px;
      position: absolute;
      right: 10px;
      bottom: 25px; }
      @media (max-width: 1050px) {
        #header .wrapper .main-nav {
          right: 40px;
          width: calc(100% - 320px); } }
      @media (max-width: 950px) {
        #header .wrapper .main-nav {
          width: calc(100% - 80px); } }
      @media (max-width: 767px) {
        #header .wrapper .main-nav {
          display: none; } }
      #header .wrapper .main-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      #header .wrapper .main-nav li {
        display: inline-block; }
        #header .wrapper .main-nav li.current-menu-item a {
          font-weight: 700; }
        #header .wrapper .main-nav li a {
          text-transform: uppercase;
          font-size: 20px;
          padding: 0 4px 2px 4px;
          transition: 0.2s all ease-in-out; }
          #header .wrapper .main-nav li a:hover {
            background-color: rgba(29, 148, 118, 0.4); }
  #header #mobile-menu {
    display: none; }
    @media (max-width: 767px) {
      #header #mobile-menu {
        display: block; } }
    #header #mobile-menu .hamburger {
      z-index: 100; }
    #header #mobile-menu #menu {
      display: none;
      background-color: #3adcb3;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      overflow-x: scroll;
      z-index: 99;
      padding: 50px 10px 0 10px;
      text-align: center;
      box-sizing: border-box; }
      #header #mobile-menu #menu ul {
        margin-top: 20px; }
        #header #mobile-menu #menu ul li {
          font-size: 100%;
          line-height: 120%; }
          #header #mobile-menu #menu ul li.active a {
            background-color: #444;
            color: #fff;
            padding: 5px 15px; }
      #header #mobile-menu #menu .lang-nav-mobile {
        display: block; }
      #header #mobile-menu #menu input {
        background-color: #3adcb3;
        border: 1px solid #444;
        margin: 20px; }

#body {
  margin: 60px auto 100px auto;
  max-width: 1050px;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    #body {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  #body #sidebar {
    width: 210px; }
    @media (max-width: 767px) {
      #body #sidebar {
        width: 100%; } }
    @media (max-width: 480px) {
      #body #sidebar {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
  #body #main {
    width: calc(100% - 320px);
    margin-left: 110px; }
    @media (max-width: 767px) {
      #body #main {
        width: 100%;
        box-sizing: border-box;
        padding: 0 60px 50px 60px;
        margin: 0 auto; } }
    @media (max-width: 480px) {
      #body #main {
        padding: 0 20px 50px 20px; } }
    #body #main .content-elipsis {
      overflow: hidden;
      height: 230px;
      position: relative; }
      #body #main .content-elipsis::before {
        content: "";
        display: block;
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 25px;
        background: linear-gradient(to bottom, transparent 0%, transparent 2%, whitesmoke 90%, whitesmoke 100%);
        cursor: pointer; }
      #body #main .content-elipsis::after {
        content: "Read more...";
        display: block;
        width: 100%;
        height: 25px;
        line-height: 25px;
        position: absolute;
        bottom: 0px;
        background-color: whitesmoke;
        text-align: left;
        text-decoration: underline;
        cursor: pointer; }
    #body #main .post-hero {
      margin-bottom: 40px; }
      #body #main .post-hero img {
        max-width: 100%;
        max-height: 390px; }
      #body #main .post-hero p {
        font-style: italic;
        font-size: 20px;
        color: #444;
        margin: 20px 0 40px 0; }

#footer {
  margin: 0 auto;
  padding: 0;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  font-size: 22px;
  line-height: 30px;
  text-shadow: 0px 0px 1px #9c9c9c; }
  #footer a {
    font-size: 90%; }
  #footer a:hover {
    text-decoration: underline;
    color: #444; }
  #footer .wrapper {
    height: 195px;
    max-width: 1050px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    padding-top: 40px; }
    @media (max-width: 1050px) {
      #footer .wrapper {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto; } }
    #footer .wrapper nav {
      width: 200px;
      text-align: right; }
      @media (max-width: 950px) {
        #footer .wrapper nav {
          width: 150px; } }
      @media (max-width: 767px) {
        #footer .wrapper nav {
          width: 100%;
          text-align: center;
          margin-bottom: 40px; } }
      #footer .wrapper nav ul {
        width: auto; }
        #footer .wrapper nav ul li {
          width: auto; }
          #footer .wrapper nav ul li a {
            width: auto; }
    #footer .wrapper .footer-contact {
      width: 450px; }
      @media (max-width: 950px) {
        #footer .wrapper .footer-contact {
          width: 430px; } }
      @media (max-width: 767px) {
        #footer .wrapper .footer-contact {
          width: 100%;
          text-align: center;
          margin-bottom: 40px; }
          #footer .wrapper .footer-contact address {
            font-size: 80%; } }
      #footer .wrapper .footer-contact address {
        letter-spacing: 1px; }
    #footer .wrapper .social-sharing {
      width: 140px;
      text-align: right; }
      @media (max-width: 767px) {
        #footer .wrapper .social-sharing {
          width: 100%;
          margin-bottom: 40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      #footer .wrapper .social-sharing li {
        float: right;
        margin: 7px; }
        #footer .wrapper .social-sharing li span {
          display: block;
          transition: 0.2s opacity ease-in-out; }
          #footer .wrapper .social-sharing li span:hover {
            opacity: 0.5; }

.sidebar-related {
  width: 150px;
  margin: 0 auto 0 0; }
  @media (max-width: 767px) {
    .sidebar-related {
      width: 100%;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: initial;
          -ms-flex-align: initial;
              align-items: initial;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  @media (max-width: 480px) {
    .sidebar-related {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      box-sizing: border-box;
      margin: 0 auto 0 0;
      padding: 0 10px; } }
  @media (max-width: 1050px) {
    .sidebar-related {
      margin: 0 auto 0 15px; } }
  .sidebar-related article {
    margin-bottom: 30px;
    text-align: left;
    min-width: 150px;
    font-size: 20px; }
    @media (max-width: 767px) {
      .sidebar-related article {
        max-width: 25%;
        box-sizing: border-box;
        padding: 10px; } }
    @media (max-width: 480px) {
      .sidebar-related article {
        max-width: 100%;
        width: 100%; } }
    .sidebar-related article a:hover {
      opacity: 0.6; }
    .sidebar-related article a header {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px; }
    .sidebar-related article a p {
      font-style: italic;
      font-size: 18px;
      line-height: 24px; }
    .sidebar-related article a h2 {
      font-size: 16px;
      line-height: 24px; }
    .sidebar-related article a img {
      display: block;
      max-width: 94px;
      max-height: 94px;
      width: 94px;
      height: 94px; }
      @media (max-width: 767px) {
        .sidebar-related article a img {
          width: 64px;
          height: 64px; } }
      @media (max-width: 480px) {
        .sidebar-related article a img {
          margin-right: 10px;
          width: 100%;
          float: left;
          max-width: 94px;
          max-height: 94px;
          width: 94px;
          height: 94px; } }

#main #blogroll article {
  border-bottom: 1px solid gray;
  margin: 0 auto 15px auto;
  padding: 0px 15px 20px 15px; }
  #main #blogroll article > h2 {
    margin-right: 30px;
    margin-bottom: 5px; }
  #main #blogroll article > .author {
    font-size: 12px;
    border-bottom: 1px dashed gray;
    width: 80%;
    margin: 10px 0 10px 0; }
  #main #blogroll article > div {
    overflow: hidden;
    padding: 10px 20px 10px 0; }
    #main #blogroll article > div img {
      float: left;
      max-width: 100px;
      padding: 0 10px 10px 0; }

.category-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px; }
  .category-big a:hover {
    opacity: 0.6; }
    .category-big a:hover img {
      box-shadow: -10px 10px 30px #A7A4A4; }
  .category-big article {
    width: 200px;
    margin: 0 10px 30px 10px; }
    .category-big article a:hover img {
      box-shadow: -10px 10px 30px #A7A4A4; }
    .category-big article img {
      width: 100%;
      margin-bottom: 10px;
      box-shadow: -10px 10px 30px #D4D4D4;
      transition: 0.2s all ease-in-out; }
    .category-big article h2, .category-big article p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase; }
    .category-big article p {
      font-style: italic; }

.category-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .category-small article {
    width: 30%;
    box-sizing: border-box;
    padding: 0 10px 40px 10px; }
    @media (max-width: 950px) {
      .category-small article {
        width: 50%; } }
    @media (max-width: 480px) {
      .category-small article {
        width: 100%; } }
    .category-small article a:hover img {
      box-shadow: 0px 0px 30px #A7A4A4;
      transition: 0.3s all ease-in-out;
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }
    .category-small article header {
      float: right;
      display: block;
      text-align: left;
      width: calc(100% - 90px); }
      .category-small article header h2, .category-small article header p {
        font-size: 16px;
        line-height: 20px; }
      .category-small article header p {
        font-style: italic; }
    .category-small article img {
      float: left;
      display: block;
      width: 75px;
      height: 100px;
      margin: 0 15px 5px 0;
      transition: 1.0s all ease-in-out;
      box-shadow: 0px 0px 30px transparent;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }

.sidebar-magazine-content {
  font-size: 18px;
  line-height: 24px;
  text-align: right; }
  @media (max-width: 767px) {
    .sidebar-magazine-content {
      text-align: center; } }
  .sidebar-magazine-content article {
    margin: 0 0 35px 0; }
    .sidebar-magazine-content article header {
      margin: 0 0 15px 0;
      word-break: normal; }
    .sidebar-magazine-content article p {
      font-size: 16px;
      font-style: italic; }

.full-magazine-content article {
  margin-bottom: 60px; }
  .full-magazine-content article p {
    font-size: 20px;
    line-height: 27px; }
  .full-magazine-content article header {
    margin-bottom: 30px; }
    .full-magazine-content article header h2 {
      font-size: 20px;
      text-transform: uppercase;
      line-height: 20px; }
    .full-magazine-content article header p {
      font-style: italic;
      line-height: 50px;
      font-size: 22px; }

.full-magazine-content #donate-left {
  width: 50%;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  float: left; }
  @media (max-width: 767px) {
    .full-magazine-content #donate-left {
      width: 100%; } }

.full-magazine-content #donate-right {
  width: 50%;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  float: right; }
  @media (max-width: 767px) {
    .full-magazine-content #donate-right {
      width: 100%; } }

.full-magazine-content a:hover, .sidebar-magazine-content a:hover {
  background-color: rgba(29, 148, 118, 0.2); }

.hidden {
  display: none; }

form input[type="submit"] {
  display: block;
  margin: 20px auto 0 auto;
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 10px 30px;
  box-sizing: border-box;
  transition: 0.3s background-color ease-in-out; }

form input[type="submit"]:hover {
  background-color: #dcd9d9; }

.checkoutErrorMessage {
  display: none;
  color: white;
  background-color: brown;
  font-size: 26px;
  text-align: center;
  margin: 20px auto;
  padding: 5px 0; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 40px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #abaaaa;
  font-weight: 700; }
  @media (max-width: 767px) {
    .breadcrumbs {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .breadcrumbs span {
    font-size: 24px;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .breadcrumbs span {
        width: 100%;
        text-align: center; } }
  .breadcrumbs .active-breadcrumb {
    color: #444; }

#odabirizdanja-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #odabirizdanja-boxes h2 {
    border-bottom: 2px solid black;
    margin-bottom: 15px; }
  #odabirizdanja-boxes div {
    width: 45%;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out; }
    @media (max-width: 767px) {
      #odabirizdanja-boxes div {
        width: 100%; } }
    #odabirizdanja-boxes div:hover {
      border: 1px solid #62e4bd; }
    #odabirizdanja-boxes div.selected-box {
      background-color: rgba(98, 228, 189, 0.33);
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.23); }

#odaberibroj {
  display: block;
  width: 100%;
  margin: 40px auto; }
  #odaberibroj h2 {
    border-bottom: 2px solid black;
    margin-bottom: 15px; }
  #odaberibroj p {
    display: block;
    overflow: hidden;
    width: 100%; }
    #odaberibroj p span {
      float: right; }
      #odaberibroj p span input[type="number"] {
        width: 50px;
        background-color: #f5f5f5;
        border: 1px solid black; }
  #odaberibroj .max-allowed {
    font-size: 12px;
    color: black;
    margin-top: 30px; }
    #odaberibroj .max-allowed a {
      text-decoration: underline; }

#podacikupca, #drugaadresa-form, #email-form {
  display: block;
  width: 100%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #podacikupca h2, #drugaadresa-form h2, #email-form h2 {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 15px; }
  #podacikupca div, #drugaadresa-form div, #email-form div {
    display: block;
    width: 100%;
    box-sizing: border-box; }
    #podacikupca div.pola, #drugaadresa-form div.pola, #email-form div.pola {
      width: 49%; }
    #podacikupca div > *, #drugaadresa-form div > *, #email-form div > * {
      display: block;
      width: 100%;
      margin: 10px auto; }
    #podacikupca div select, #podacikupca div input, #drugaadresa-form div select, #drugaadresa-form div input, #email-form div select, #email-form div input {
      background-color: #f5f5f5;
      border: 1px solid black;
      padding: 5px 15px;
      box-sizing: border-box;
      border-radius: 0px;
      width: 100%; }
    #podacikupca div.drugaadresa-div, #drugaadresa-form div.drugaadresa-div, #email-form div.drugaadresa-div {
      border-bottom: 2px solid black; }
      #podacikupca div.drugaadresa-div input, #drugaadresa-form div.drugaadresa-div input, #email-form div.drugaadresa-div input {
        display: block;
        width: 30px;
        float: left;
        height: 24px; }

#drugaadresa-form {
  display: none; }

#email-form {
  margin-top: 60px; }

#ponovi-email {
  transition: 0.3s all ease-in-out; }

#pregled-porudzbine h2 {
  border-bottom: 2px solid black;
  margin-bottom: 25px; }

#pregled-porudzbine table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 60px; }
  #pregled-porudzbine table thead {
    border-bottom: 2px solid black; }
    #pregled-porudzbine table thead tr th {
      font-weight: 400;
      font-size: 22px;
      padding: 0 0 10px 0;
      text-align: center; }
      #pregled-porudzbine table thead tr th:nth-child(1) {
        text-align: left; }
  #pregled-porudzbine table tbody tr td {
    font-weight: 700;
    padding-top: 20px; }
    #pregled-porudzbine table tbody tr td span {
      border: 1px solid black;
      width: 50%;
      display: block;
      margin: 0px auto;
      padding: 0 10px;
      text-align: center;
      line-height: 30px; }

#metoda-placanja h2 {
  border-bottom: 2px solid black;
  margin-bottom: 15px; }
